{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="bg-dark">
  <div class="row" style="margin-top: -20px">
    <div class="col-md-offset-4 col-md-4">
      <div>
        <h1 class="text-center logo-color">KothaBolo</h1>
        <p class="text-center title-color">
          Take a moment, and talk your problems out!
        </p>
        <p class="text-center text-color">
          Take a moment, and talk your problems out!Take a moment, and talk your
          problems out! Take a moment, and talk your problems out!Take a moment,
          and talk your problems out!Take a moment, and talk your problems out!Take
          a moment, and talk your problems out!Take a moment, and talk your problems
          out!Take a moment, and talk your problems out!Take a moment, and talk
          your problems out! Take a moment,
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark">
    <br>
  <div class="row text-center">
    <div class="col-md-offset-4 col-md-4">
      <a class="btn btn-45818E" href="/signup">Sign Up</a>
      <a class="btn btn-45818E" href="/login">Log In</a>
    </div>
  </div>
</div>
<div class="bg-dark">
  <p class="text-right text-color-gray">
    Know more abou the environment arround your, help the nature.
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="color-container"><div class="circle bg-B0C799"></div></div>
      <h4>Indentity</h4>
      <p>
        some sample text, some sample text, some sample text, some sample text,
        some sample text,
      </p>
    </div>
    <div class="col-md-4 text-center">
      <div class="color-container"><div class="circle bg-74B04D"></div></div>
      <h4>Reflect</h4>
      <p>
        some sample text, some sample text, some sample text, some sample text,
        some sample text,
      </p>
    </div>
    <div class="col-md-4 text-center">
      <div class="color-container"><div class="circle bg-B9BE00"></div></div>
      <h4>Dairy</h4>
      <p>
        some sample text, some sample text, some sample text, some sample text,
        some sample text,
      </p>
    </div>
    <div class="col-md-4 text-center">
      <div class="color-container"><div class="circle bg-D42926"></div></div>
      <h4>Talk</h4>
      <p>
        some sample text, some sample text, some sample text, some sample text,
        some sample text,
      </p>
    </div>
    <div class="col-md-4 text-center">
      <div class="color-container"><div class="circle bg-FF6B01"></div></div>
      <h4>Boost</h4>
      <p>
        some sample text, some sample text, some sample text, some sample text,
        some sample text,
      </p>
    </div>
    <div class="col-md-4 text-center">
      <div class="color-container"><div class="circle bg-FFB300"></div></div>
      <h4>Check Up</h4>
      <p>
        some sample text, some sample text, some sample text, some sample text,
        some sample text,
      </p>
    </div>
  </div>
</div>
{% endblock %}
