.bg-dark{
    background-color: #000;
}
.logo-color{
    color:#D5A5BB
}
.title-color{
    color:#C8BB4A
}
.text-color{
    color:#F9A381
}
.text-color-gray{
    color: #c4c4c4;
}
.navbar-inverse {
    border-radius: 0px !important;
}
.circle {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* This creates a circle shape */
}
.bg-B0C799{
    background-color: #B0C799;
}
.bg-74B04D{
    background-color: #74B04D;
}
.bg-B9BE00{
    background-color: #B9BE00;
}
.bg-D42926{
    background-color: #D42926;
}
.bg-FF6B01{
    background-color: #FF6B01;
}
.bg-FFB300{
    background-color: #FFB300;
}
.btn-45818E{
    border-color: #45818E;
    color: #fff;
    background-color: #45818E !important;
}
.btn-FB6966{
    color: #fff;
    border-color: #000;
    background-color: #FB6966 !important;
}
.btn-D42926{
    color: #fff;
    border-color: #D42926;
    background-color: #D42926 !important;
}
.btn-FCB3AC{
    color: #fff;
    border-color: #000;
    background-color: #f1a8a1 !important;
}

.btn-666666{
    color: #fff;
    border-color: #666666;
    background-color: #666666 !important;
}
.btn-E6F8CC{
    color: #000;
    border-color: #E6F8CC;
    background-color: #E6F8CC !important;
}
.btn-F7F2EB{
    color: #000;
    border-color: #F7F2EB;
    background-color: #F7F2EB !important;
}
.color-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.text-white{
    color: #fff;
}
.border-left{
    border-left: 2px #fff solid;
}
.border-right{
    border-right: 2px #fff solid;
}
.m-h-400{
    min-height: 400px;
}
.m-t-50{
    margin-top: 50px;
}
.p-t-100{
    padding-top: 100px;
}
.pd-20{
 padding: 20px;
}
.border-top{
    border-top: 2px #fff solid;
}
.text-73A8E9{
    color: #73A8E9;
}
.text-black{
    color: #000;
}
.div-wellness{
    height: 50px; width: 100px; background-color: #9A4464; padding: 5px;
}
.div-support{
    height: 50px; width: 100px; background-color: #B8BE00;padding: 5px;
}
.div-resilience{
    height: 50px; width: 100px; background-color: #ECDCE5;padding: 5px;
}
.div-empowerment{
    height: 50px; width: 100px; background-color: #4EBBD6;padding: 5px;
}
.text-E5FC72{
    color: #E5FC72;
}
.text-C97C13{
    color: #C97C13;
}
.bg-white{
    background-color: #fff;
}
.sidenav {
    height: 100%;
    width: 100%; /* Adjust width according to your preference */
    top: 0;
    left: 0;
  }

  /* Style the sidenav links */
  .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff; /* Adjust link color */
    display: block;
  }

  /* Change color on hover */
  .sidenav a:hover {
    background-color: #fff; /* Adjust hover background color */
    color: #000;
  }
  .pd-10{
    padding: 10px;
  }
  .online-status{
    background-color: #000;
    border-radius: 40px;
    width: 180px;
    float: right;
  }
  .online-name{
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
  }
  .colored-div {
    height: 80px; /* Adjust height as needed */
  }

  .div1 {
    background-color: #DDEEC4; /* Adjust background color */
  }

  .div2 {
    background-color: #333333; /* Adjust background color */
    color: #fff;
  }