.bg-dark{
    background-color: #000;
}
.logo-color{
    color:#D5A5BB
}
.title-color{
    color:#C8BB4A
}
.text-color{
    color:#F9A381
}
.text-color-gray{
    color: #c4c4c4;
}
.navbar-inverse {
    border-radius: 0px !important;
}
.circle {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* This creates a circle shape */
}
.bg-B0C799{
    background-color: #B0C799;
}
.bg-74B04D{
    background-color: #74B04D;
}
.bg-B9BE00{
    background-color: #B9BE00;
}
.bg-D42926{
    background-color: #D42926;
}
.bg-FF6B01{
    background-color: #FF6B01;
}
.bg-FFB300{
    background-color: #FFB300;
}
.btn-45818E{
    border-color: #45818E;
    color: #fff;
    background-color: #45818E !important;
}
.btn-FB6966{
    color: #fff;
    border-color: #000;
    background-color: #FB6966 !important;
}
.btn-D42926{
    color: #fff;
    border-color: #D42926;
    background-color: #D42926 !important;
}
.btn-FCB3AC{
    color: #fff;
    border-color: #000;
    background-color: #f1a8a1 !important;
}

.btn-666666{
    color: #fff;
    border-color: #666666;
    background-color: #666666 !important;
}
.color-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.text-white{
    color: #fff;
}
.border-left{
    border-left: 2px #fff solid;
}
.border-right{
    border-right: 2px #fff solid;
}
.m-h-400{
    min-height: 400px;
}
.m-t-50{
    margin-top: 50px;
}
.p-t-100{
    padding-top: 100px;
}
.pd-20{
 padding: 20px;
}
.border-top{
    border-top: 2px #fff solid;
}
.text-73A8E9{
    color: #73A8E9;
}
.text-black{
    color: #000;
}
.div-wellness{
    height: 50px; width: 100px; background-color: #9A4464; padding: 5px;
}
.div-support{
    height: 50px; width: 100px; background-color: #B8BE00;padding: 5px;
}
.div-resilience{
    height: 50px; width: 100px; background-color: #ECDCE5;padding: 5px;
}
.div-empowerment{
    height: 50px; width: 100px; background-color: #4EBBD6;padding: 5px;
}