<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>SpeakYou</h3>
                <p>Your journey to a better you starts here.</p>
            </div>
            <div class="col-md-4 quick-links">
                <h6>Quick Links</h6>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/profile">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p>123, ABC Street, XYZ City<br></p>
            </div>
            <hr/>
            <div class="col-md-12" style="text-align: center;">
                <p>&copy; 2025 SpeakYou. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>