<ul class="list-group">
    <li class="list-group-item d-flex align-items-center">
        <a href="/home">
            <img src="/static/img/dashboard.png" alt="Task Icon" class="me-2 task-icon">
            Dashboard
        </a>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <a href="/check-in">
            <img src="/static/img/checkin.png" alt="Failed Icon" class="me-2 task-icon">
            Daily Check-in
        </a>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <a href="/relief-anxity">
            <img src="/static/img/yoga.png" alt="Info Icon" class="me-2 task-icon">
            Calm Space
        </a>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <a href="/dairy">
            <img src="/static/img/diary.png" alt="Warning Icon" class="me-2 task-icon">
            My Diary
        </a>
    </li>
</ul>